@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">Inci DENIZCI</h1>
    <p>Personal Blog</p>
</div>

<!-- Navigation Links -->
<div class="text-center mt-4">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://img.freepik.com/free-vector/programmer-working-desk_23-2148288753.jpg" alt="Benim Fotoğrafım" class="img-fluid rounded-circle mb-4" style="max-width: 300px;">

            <h2>About Me</h2>
            <p>
                Hi! I'm Inci Denizci. I'm 20 years old and this is my personal blog! Here is some information about me. I was born in Bursa on 9th August 2004. I still live there, but I study in Istanbul, so during school semesters, I'm in Istanbul. I'm studying Computer Engineering at MEF University for the last 2.5 years, and I'm going to start my 3rd year. I have only been studying at MEF for 2.5 years because I actually started my university journey as an Architecture Major at Yıldız Technical University. I only did that for half a year, then I decided it wasn't for me, and I changed my major. While I wasn't interested in blogs before, after learning HTML, CSS, JS, and ASP.NET MVC during my internship and seeing what my other intern friends were doing, I decided that creating a blog would be a fun and fundamental project to showcase what I learned.
            </p>
            <br/>
            <p>
                Thank you for checking this page and the project as a whole!
            </p>
        </div>
    </div>
</div>